.banner {
	&.billboard {
		text-align: center;
		margin-top: 30px;
		
		img { max-width: 100% !important; height: auto !important; }
	}
}

.advert {

	position: relative;
	padding: 10px 40px 10px 20px;
	margin-top: 20px;
	height: 100px;

	& .arrow.right { 
		display: block; content: '';
		float: right;
		position: absolute;
		top: 35%; right: 10px;
		margin-top: -16px;
		width: 20px; height: 32px;
		margin: 0 10px;
		background: url(../Images/arrow-right.png) center center no-repeat;
	}

	&.sticker-blue {
		
		color: #fff;
		@include background-image(linear-gradient(to right, #2488C7 0%, #4EA4D9 100%));

		& .image-wrap {
			float: left; 
			margin: 25px 20px 25px 0px;
			width: 50px; height: 50px;
			background: center center no-repeat;
		}

		a {
			width: 100%;
			color: #fff;
		}
	}

	&.image-advert {
		padding: 0;
		height: 110px;

		img {
			width: 100% !important;
			height: auto !important;
		}

		.img-container {
			background-size: cover;
			height: 100%;
			height: calc(100%-10px);
			width: 100%;
			position: absolute;
			left: 0; top: 10px;
		}

		.advert-text {
			position: absolute;
		    top: 0px; left: 15px;
		    color: #fff;
		}

		.main-text {
			line-height: 1.05em;
			font-size: 1.3em;
			clear: both;
			float:left;
			margin-top: 10px;
			text-shadow: 2px 2px 2px #000000;
		}

		.promo-text {
			float: left;
			@include box-shadow(-3px 3px 5px -2px rgba(1, 1, 1, 0.6));
			min-width: 115px;
			b { font-size: 1.1em; }
			font-size: 0.75em;
			line-height: 1.1em;
		    padding: 5px 5px;
			margin-left: 13px;
			background: $color-contrast;
		}
	}
}

.layout-right .advert:after {
    width: 95%;
    height: 3em;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.4);
    position: absolute;
    content: "";
    right: 0; bottom: 10px;
    z-index: -2;
    right: 0.2em;
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
}