// Import fonts without glyph (icomoon)

$woodford-font-path: "assets/fonts/woodford" !default;

// Libre Baskerville
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400i&subset=latin-ext');

// Woodford
@font-face {
    font-family: 'Woodford';
    src: url('#{$woodford-font-path}/WoodfordBourne-Bold.woff2') format('woff2'),
        url('#{$woodford-font-path}/WoodfordBourne-Bold.woff') format('woff'),
        url('#{$woodford-font-path}/WoodfordBourne-Bold.ttf') format('truetype'),
        url('#{$woodford-font-path}/WoodfordBourne-Bold.svg#WoodfordBourne-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Woodford';
    src: url('#{$woodford-font-path}/WoodfordBourne-Regular.woff2') format('woff2'),
        url('#{$woodford-font-path}/WoodfordBourne-Regular.woff') format('woff'),
        url('#{$woodford-font-path}/WoodfordBourne-Regular.ttf') format('truetype'),
        url('#{$woodford-font-path}/WoodfordBourne-Regular.svg#WoodfordBourne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
