@font-face {
  font-family: 'cargo-ui-icons';
  src:  url('#{$icomoon-font-path}/cargo-ui-icons.eot?p1ap18');
  src:  url('#{$icomoon-font-path}/cargo-ui-icons.eot?p1ap18#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/cargo-ui-icons.ttf?p1ap18') format('truetype'),
    url('#{$icomoon-font-path}/cargo-ui-icons.woff?p1ap18') format('woff'),
    url('#{$icomoon-font-path}/cargo-ui-icons.svg?p1ap18#cargo-ui-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cargo-ui-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-navigate-up {
  &:before {
    content: $icon-navigate-up;
  }
}
.icon-navigate-down {
  &:before {
    content: $icon-navigate-down;
  }
}
.icon-navigate-right {
  &:before {
    content: $icon-navigate-right;
  }
}
.icon-navigate-left {
  &:before {
    content: $icon-navigate-left;
  }
}
.icon-arrow-full-up {
  &:before {
    content: $icon-arrow-full-up;
  }
}
.icon-arrow-full-down {
  &:before {
    content: $icon-arrow-full-down;
  }
}
.icon-arrow-full-right {
  &:before {
    content: $icon-arrow-full-right;
  }
}
.icon-arrow-full-left {
  &:before {
    content: $icon-arrow-full-left;
  }
}
.icon-map-outline {
  &:before {
    content: $icon-map-outline;
  }
}
.icon-phone-outline {
  &:before {
    content: $icon-phone-outline;
  }
}
.icon-mail-outline {
  &:before {
    content: $icon-mail-outline;
  }
}
.icon-clock-outline {
  &:before {
    content: $icon-clock-outline;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-calendar-clock {
  &:before {
    content: $icon-calendar-clock;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-group {
  &:before {
    content: $icon-group;
  }
}
.icon-person {
  &:before {
    content: $icon-person;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-done {
  &:before {
    content: $icon-done;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-dropdown {
  &:before {
    content: $icon-dropdown;
  }
}
.icon-parking {
  &:before {
    content: $icon-parking;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-speaker {
  &:before {
    content: $icon-speaker;
  }
}
.icon-terrace {
  &:before {
    content: $icon-terrace;
  }
}
.icon-warning {
  &:before {
    content: $icon-warning;
  }
}
.icon-wine-bottle {
  &:before {
    content: $icon-wine-bottle;
  }
}
.icon-social-facebook {
  &:before {
    content: $icon-social-facebook;
  }
}
.icon-social-instagram {
  &:before {
    content: $icon-social-instagram;
  }
}
.icon-social-tripadvisor {
  &:before {
    content: $icon-social-tripadvisor;
  }
}