@font-face {
  font-family: 's54-ui-icons';
  src:  url('#{$icomoon-font-path}/s54-ui-icons.eot?ws1r8i');
  src:  url('#{$icomoon-font-path}/s54-ui-icons.eot?ws1r8i#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/s54-ui-icons.ttf?ws1r8i') format('truetype'),
    url('#{$icomoon-font-path}/s54-ui-icons.woff?ws1r8i') format('woff'),
    url('#{$icomoon-font-path}/s54-ui-icons.svg?ws1r8i#s54-ui-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 's54-ui-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-s54-logo {
  &:before {
    content: $icon-s54-logo;
  }
}
.icon-navigate-left {
  &:before {
    content: $icon-navigate-left;
  }
}
.icon-navigate-right {
  &:before {
    content: $icon-navigate-right;
  }
}
.icon-navigate-up {
  &:before {
    content: $icon-navigate-up;
  }
}
.icon-navigate-down {
  &:before {
    content: $icon-navigate-down;
  }
}
.icon-arrow-left {
  &:before {
    content: $icon-arrow-left;
  }
}
.icon-arrow-right {
  &:before {
    content: $icon-arrow-right;
  }
}
.icon-arrow-up {
  &:before {
    content: $icon-arrow-up;
  }
}
.icon-arrow-down {
  &:before {
    content: $icon-arrow-down;
  }
}
.icon-search {
  &:before {
    content: $icon-search;
  }
}
.icon-calendar {
  &:before {
    content: $icon-calendar;
  }
}
.icon-clock {
  &:before {
    content: $icon-clock;
  }
}
.icon-close {
  &:before {
    content: $icon-close;
  }
}
.icon-menu {
  &:before {
    content: $icon-menu;
  }
}
.icon-plus {
  &:before {
    content: $icon-plus;
  }
}
.icon-minus {
  &:before {
    content: $icon-minus;
  }
}
.icon-play {
  &:before {
    content: $icon-play;
  }
}
.icon-grid {
  &:before {
    content: $icon-grid;
  }
}
.icon-info {
  &:before {
    content: $icon-info;
  }
}
.icon-female {
  &:before {
    content: $icon-female;
  }
}
.icon-male {
  &:before {
    content: $icon-male;
  }
}
.icon-map-placeholder {
  &:before {
    content: $icon-map-placeholder;
  }
}
.icon-phone {
  &:before {
    content: $icon-phone;
  }
}
.icon-mail {
  &:before {
    content: $icon-mail;
  }
}
.icon-clock-full {
  &:before {
    content: $icon-clock-full;
  }
}
.icon-ticket {
  &:before {
    content: $icon-ticket;
  }
}
.icon-table {
  &:before {
    content: $icon-table;
  }
}
.icon-lodge {
  &:before {
    content: $icon-lodge;
  }
}
.icon-paper {
  &:before {
    content: $icon-paper;
  }
}
.icon-cocktail {
  &:before {
    content: $icon-cocktail;
  }
}
.icon-sandwich {
  &:before {
    content: $icon-sandwich;
  }
}
.icon-social-facebook {
  &:before {
    content: $icon-social-facebook;
  }
}
.icon-social-instagram {
  &:before {
    content: $icon-social-instagram;
  }
}
.icon-social-tripadvisor {
  &:before {
    content: $icon-social-tripadvisor;
  }
}

