/* ---- grid ---- */


.grid-wrap {
    overflow: hidden;
    width: 100%;
}

.grid {
  @include pie-clearfix;
  margin-right: -30px;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-item {
    float: left;
    position: relative;
    padding-right: 30px;
    padding-bottom: 30px;

    width: 25%;
    
    & > a {
        display: block;
        position: absolute;
        top: 0; left: 0;
        right: 30px; bottom: 30px;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #000;
    }

    .tile-title {
        position: absolute;
        bottom: 0;
        padding: 30px; 
        margin: 0;
        color: #fff;
        text-align: left;
    }

    .date {
        displlay: block;
        color: $lightgrey;
        text-transform: uppercase;
        @include transition(color .3s);
    }
    .title {
        display: block;
        color: #fff;
        font-weight: bold;
        @include transition(color .3s);
    }

    .overlay {
        position: absolute;
        top: 0; left: 0;
        bottom: 0; right: 0;
        background-color: $gold;
        opacity: 0;
        @include transition(opacity .3s);
    }

    &:hover {
        .title, .date {
            color: #000;
        }
        .overlay {
            opacity: .8;
        }
    }

}

.grid-item--height-small {
    padding-top: 15.38462%;
}

.grid-item--height-reg {
    padding-top: 35.04274%;
}

.grid-item--width-double {
    width: 50%;
}
