.mfp-close {
	i {
		pointer-events: none;
	}
}

.black-popup {
	position: relative;
	background: #000;
	width: auto;
	padding: 10px;

	& > div {
		border: solid 1px $gold50; 
		margin: 0px auto;
		padding: 50px;
	}

	.mfp-close {
		border: solid 1px $gold50;
		border-right: none;
		border-top: none;
		top: 11px; right: 11px;
	}

	.cell {
		vertical-align: top;
	}

	.content {
		position: absolute;
		left: 30px; top: 0;
		width: 100%; height: 100%;
	}

	.img-wrap {
		width: 10%;
	}
}


.mfp-bg {

	// overlay at start */
	&.mfp-fade {
		opacity: 0;
		@include transition(all .3s ease-out);

		// overlay animate in */
		&.mfp-ready {
			opacity: 0.8;
		}
		// overlay animate out */
		&.mfp-removing {
		  opacity: 0;
		}
	}
}

// content at start */
.mfp-wrap {
	&.mfp-fade {
		.mfp-content {
			opacity: 0;
			@include transition(all .3s ease-out);
		}

		// content animate it */
		&.mfp-ready .mfp-content {
		  opacity: 1;
		}

		// content animate out
		&.mfp-removing .mfp-content {
		  opacity: 0;
		}
	}
}