/*---------------------------------

NAVIGATION STYLES

-----------------------------------*/

nav.header-nav {
    display: none;
    @include breakpoint(min-width 992px) {
        display: initial;
    }
    ul {
        margin: 0 25px;
        padding: 0;
        list-style: none;
    }
    
    li {
        display: inline-flex;
        padding: 0;
        margin: 28px 22px;
        position: relative;
        a {
            margin-top: 4px;
            position: relative;
            color: $black;
            transition: color .15s ease-in-out;
            &::after {
                content: '';
                height: 1px;
                background-color: $green;
                width: 0;
                display: block;
                margin-top: 4px;
                transition: width .3s ease-in-out;
            }
            &:hover {
                color: $green;
                &::after {
                    content: '';
                    width: 20px;
                }
            }
        }
    }
    &.header-nav-white {
        a {
            color: $white;
            &::after {
                background-color: $white;
            }
            &:hover {
                color: $white;
            }
        }
    }
    .current_page_item {
        a {
            color: $gold;
            position: relative;
        }
        &::after {
            content: '';
            height: 1px;
            background-color: $gold;
            width: 20px;
            display: block;
            margin-top: 4px;
            bottom: 0;
            position: absolute;
        }
    }
}

.header-nav-mobile {
    display: initial;
    @include breakpoint(min-width 992px) {
        display: none;
    }
    &__icon {
        margin: 28px 22px;
    }
}

.sticky-nav {
    padding: 0 40px;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    background: #fff;
    position: fixed;
    z-index: 999;
    border-bottom: 1px solid $border-color;
    transform: translateY(-101%);
    transition: transform .5s ease-in;
    &.show-sticky-nav {
        transform: translateY(0%);
    }
    &__container {
        display: inline-flex;
        .header-nav + .sticky-nav__phone {
            display: flex;
            align-items: center;
            a {
                display: flex;
                color: $gold;
                align-items: center;
                font-weight: 700;
                i {
                    margin-right: 4px;
                }
            }
        }
    }
    &__logo {
        display: flex;
        align-items: center;
        img {
            width: 130px;
            margin: 20px 0 15px 0;
            @include breakpoint(min-width 800px) {
                width: 100%;
                margin: 0;
            }
        }
    }
}

.nav-space {
    display: block;
    height: 90px;
    width: 100%;
}

