//
// Variables
//
// If you have an initialization partial (or equivalent), you should move these
// lines to that file.

// The font size set on the root html element.
$base-font-size: 10px !default;

// The base line height determines the basic unit of vertical rhythm.
$base-line-height: 15px !default;

// The length unit in which to output font size and margin values.
// Supported values: px, em, rem.
$base-unit: 'rem' !default;

// px fallbacks for rem units are needed for IE 8 and earlier.
$rem-fallback: false !default;

// The font faces you specify in the $typefaces map can be used in the
// typeface() mixin.
$typefaces: (
  body: (
    font-family: ('Hind', sans-serif),
  ),
  monospace: (
    font-family: (monospace, monospace),
  ),
) !default;

// The font sizes for h1-h6 expressed as tee shirt sizes.
$font-size: (
  xxl: 26px,
  xxl-d: 48px,
  xl:  20px,
  xl-d:  24px,
  l:  16px,
  l-d: 18px,
  m:   14px,
  m-d: 16px,
  s:   14px,
  xs:  10px,
) !default;

// The amount lists and blockquotes are indented.
$indent-amount: 40px !default;

// The following variable controls whether normalize-scss will output
// font-sizes, line-heights and block-level top/bottom margins that form a basic
// vertical rhythm on the page, which differs from the original Normalize.css.
$normalize-vertical-rhythm: false !default;

// IcoMoon config
$icomoon-font-path: "assets/fonts/icomoon" !default;

$icon-arrow-up: "\e900";
$icon-arrow-down: "\e901";
$icon-arrow-right: "\e902";
$icon-arrow-left: "\e903";
$icon-navigate-up: "\e904";
$icon-navigate-down: "\e905";
$icon-navigate-right: "\e906";
$icon-navigate-left: "\e907";
$icon-arrow-full-up: "\e908";
$icon-arrow-full-down: "\e909";
$icon-arrow-full-right: "\e90a";
$icon-arrow-full-left: "\e90b";
$icon-map-outline: "\e90c";
$icon-phone-outline: "\e90d";
$icon-mail-outline: "\e90e";
$icon-clock-outline: "\e90f";
$icon-calendar: "\e910";
$icon-calendar-clock: "\e911";
$icon-clock: "\e912";
$icon-phone: "\e913";
$icon-mail: "\e914";
$icon-group: "\e915";
$icon-person: "\e916";
$icon-close: "\e917";
$icon-done: "\e918";
$icon-plus: "\e919";
$icon-minus: "\e91a";
$icon-search: "\e91b";
$icon-dropdown: "\e91c";
$icon-parking: "\e91d";
$icon-menu: "\e91e";
$icon-speaker: "\e91f";
$icon-terrace: "\e920";
$icon-warning: "\e921";
$icon-wine-bottle: "\e922";
$icon-social-facebook: "\e923";
$icon-social-instagram: "\e924";
$icon-social-tripadvisor: "\e925";

