.woocommerce-message {
	display: none;
}

.variation {
	p {
		margin-top: 0;
	}
}

.woocommerce td.product-name .wc-item-meta .wc-item-meta-label,
.woocommerce td.product-name .wc-item-meta dt,
.woocommerce td.product-name dl.variation .wc-item-meta-label,
.woocommerce td.product-name dl.variation dt {
	float: none;
	line-height: 1.1em;
}