/*---------------------------------

MIXINS

-----------------------------------*/

@mixin hover-link($color) {
    color: $color;
    transition: all .3s ease-in-out;
    &:hover {
        color: lighten($color, 10%);
    }
}

@mixin bg-transition($primary, $secondary) {
    background-color: $primary;
    transition: background-color .3s ease-in-out;
    &:hover {
        background-color: $secondary;
    }
}