/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

// MIXINS 

@mixin horizontal-gradient($from, $to, $start: 0%, $stop: 100%) {
    background-color: $from;
    background-image: -moz-linear-gradient(left, $from $start, $to $stop);
    background-image: -webkit-gradient(linear, left top, right top, color-stop($start, $from), color-stop($stop, $to));
    background-image: -webkit-linear-gradient(left, $from $start, $to $stop);
    background-image: -o-linear-gradient(left, $from $start, $to $stop);
    background: -ms-linear-gradient(left, $from $start, $to $stop);
    background: linear-gradient(to right, $from $start, $to $stop);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$from', endColorstr='$to',GradientType=1 );
}


@import "base";
@import "mixins";
@import "swiper";
@import "compass/css3/images";
@import "icoMoon";
@import "events";
@import "woocommerce";
@import "isotope-grid";
@import "parallax";
@import "magnific-popup";
@import "ajax-loader";
@import "fonts";
@import "utilities";
@import "forms";
@import "header";

@font-face {
    font-family: icons;
    src: url(assets/fonts/icomoon/cargo-ui-icons.svg);
}

body {
    @include type-layout(m, 1.5);
    @include breakpoint($sm) {
        @include type-layout(m-d, 1.5);
    }
}

h1 {
    font-family: $base-font-family;
    @include type-layout(xxl, 2);
    @include breakpoint($sm) {
        @include type-layout(xxl-d, 2.7);
    }
    color: $darkgrey;
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
    .claim {
        display: block;
        color: $gold;
        font-size: 1.25rem;
        font-family: 'Libre Baskerville';
        font-style: italic;
        font-weight: 400;
        text-transform: none;
        margin-bottom: .25rem;
    }
}

h2 {
    font-family: $base-font-family;
    @include type-layout(xl, 2);
    @include breakpoint($sm) {
        @include type-layout(30px, 2.7);
    }
    color: $darkgrey;
    text-transform: uppercase;
    margin-top: 0;
    font-weight: bold;
    .claim {
        display: block;
        color: $gold;
        font-size: 1rem;
        font-family: 'Libre Baskerville';
        font-style: italic;
        font-weight: 400;
        text-transform: none;
        margin-bottom: .25rem;
        line-height: 1;
    }
}

h3 {
    font-family: $base-font-family;
    color: $darkgrey;
    font-weight: bold;
    @include type-layout(l, 1.5);

    @include breakpoint($sm) {
        @include type-layout(l-d, 1.7);
    }   
}
p, p.lead {
    color: $lightgrey;
    font-family: $base-font-family;
    font-weight: normal;
    & + .btn {
        margin-top: 2.813rem;
    }
}
p {
    font-size: 1rem;
    line-height: 30px;
}

p.lead {
    font-size: 1.125rem;
    line-height: 36px;
}

a {
    text-decoration: none;
    color: $gold;

    &:focus {
        outline: none;
    }
}

ul, ol {
    padding-left: 20px;
}

sub, sup {
    font-size: .6em;
}

li {
    padding-left: 1em;
}

hr {
    border-bottom: solid 1px $gold;
}

i {
    font-size: 30px;
    display: inline-block;
    position: relative;
}

.bow {
    width: 100%;
    font-size: 1.5rem;
    color: $gold; 
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    &.bow-fluid {
        &::before {
            display: block;
            position: relative;
            content: '';
            width: calc(50% - 20px);
            height: 1px;
            border-bottom: 1px solid $border-color;
            top: 11px;
            float: left;
        }
        &::after {
            display: block;
            position: relative;
            content: '';
            width: calc(50% - 20px);
            height: 1px;
            border-bottom: 1px solid $border-color;
            top: 11px;
            float: right;
        }
    }
    &.bow-space {
        margin-bottom: 5rem;
    }
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.page-title {
    text-align: center;
}

.no-gutters {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.section-padding {
    padding-top: 40px;
    padding-bottom: 50px;
}

.col-pd-bottom {
    padding-bottom: 5rem;
}

.col-pd-top {
    padding-top: 5rem;
}

.top-gap {
    padding-top: 40px;
}

.side-padding {
    max-width: 1200px;
}

.section-header {
    text-align: center;
    margin-bottom: 40px;
}

.section-intro {
    font-size: 20px;
    font-weight: 300;
}

.max-width {
    max-width: 1170px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.max-width-767 {
    max-width: 767px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.center {
    text-align: center;
}

.aleft {
    text-align: left;
}
.aright {
    text-align: right;
}

.clear-left {
    clear: left;
}

.gallery {
    @include pie-clearfix;
}

#gallery-grid {
    .frame-box {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;

        & > div {
            position: absolute;
            left: 10px; top: 10px;
            bottom: 10px; right: 10px;
            text-align: center;
        }

        a {
            display: block;
            position: absolute;
            top: 0; left: 0;
            width: 100%;
            height: 100%;

        }
    }

    &.video {
        .grid-item {
            margin-bottom: 30px;
            a {
                padding-top: 56%;
            }    
        }
    }
}

.grid-item {
    text-align: center;
    i {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        font-size: 30px;
        top: 50%;
        transform: translateY(-50%);
        color: $white;
        font-size: 50px;
        @include transition(color .3s, opacity .3s);
    }

    i.icon-play {
        color: $gold;
        z-index: 10;
    }

    &:hover {
        i.icon-play {
            color: #000;
        }
    }
}

.photoswipe-item {
    iframe {
        display: none;
    }
}

.twoColumnGroup {

    display: block;
    width: 100%;

    .column,
    & > div {
        position: relative;
        display: block;
        vertical-align: top;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        @include pie-clearfix;
    }

    @include breakpoint($sm) {
        
        display: table;
        
        .column{
            display: table-cell;
            &:first-child {
                width: 50%;
            }
        }
    }
}

.inactive {
    opacity: .35;
    pointer-events: none;
}

.separator-line {
    display: block;
    height: 0;
    border-bottom: 2px dashed rgba(0, 0, 0, 0.2);
    margin: 60px 0;
}

.btn-nav {
    font-size: 30px;
    padding: 0;
    width: 50px; height: 50px;
    text-align: center;

    i {
        line-height: 50px;
    }
}

.btn-switch {
    height: auto;
}

.close-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 17px;
    right: 31px;
    opacity: 1;
    z-index: 1;
    cursor: pointer;

    @include breakpoint($md) {
        display: none;
    }
}

.close-btn span {
    position: absolute;
    width: 90%; height: 1px;
    background: #fff;
    top: 15px; left: 3px;
}

.close-btn span:first-child {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close-btn span:last-child {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.glow {
    position: relative;
    & > .glow-cover {
        pointer-events: none;
        opacity: .3;
        z-index: 1;
        position: absolute;
        top: -1px; bottom: -1px;
        left: -1px; right: -1px;
        opacity: 30%;
        background: rgba(0,0,0,1);
        background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
        background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    }
}

.gradient-cover {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    opacity: 0.7;
    background: rgba(0,0,0,0);
    background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(0,0,0,0)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=0 );
}

.next-section-scroll {
    font-size: 40px;
    color: $white;
    z-index: 1;
    cursor: pointer;
}

#outer-wrap {
    //max-width: 1600px;
    margin: 0 auto;
}

#inner-wrap {

    @include breakpoint($md) {
        padding-top: 0;
    }

    & > section {
        position: relative;
    }
}

#footer-menu {
    margin: 0;
    li {
        float: left;
        width: 50%;
        font-size: 14px;
    }
}

.es_textbox_class {
    width: auto;
}

lable.es_shortcode_form_email {
    display: none;
}

footer {
    background-color: #141414;
    padding-top: 60px;
    padding-bottom: 30px;
    h5 {
        color: #545454;
        font-family: Hind, sans-serif;
        font-weight: 400;
        font-size: 0.875rem;
    }
    p {
        font-size: 1rem;
        color: #949494;
        line-height: 25px;
    }
    .footer-menu {
        ul, li {
            padding: 0;
            list-style: none;
        }
        li {
            margin-bottom: 5px;
        }
        a {
            color: #949494;
            transition: all .3s ease-in-out;
            &:hover {
                text-decoration: none;
                color: $white; 
            }
        }
    }
    ul.footer-social {
        padding: 0;
        margin: 0;
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
        li {
            a {
                transition: all .3s ease-in-out;
                color: #949494;
                &:hover {
                    color: #ffffff;
                }
            }
            i {
                font-size: 43px;
            }
            padding: 0;
            list-style: none;
        }
    }

    form {
        input {
            color: $white;
            border-bottom-color: #545454 !important;
            &:focus {
                .active {
                    color: $white !important;
                }
            }
        }
        .active {
            color: #545454 !important;
        }
        button {
            background: #b4b4b4 !important;
            margin-top: 5px;
        }
    }

    .footer-bottom {
        margin-top: 50px;
        padding-top: 30px;
        border-top: 1px solid #242424;
        color: #747474;
        font-size: 0.875rem;
        img {
            margin-top: 6px;
        }
        .copy {
            line-height: 3.5;
        }
    }
}

.es_button {
    padding: 0;

    input {
        background: none;
        width: 100%;
        padding: 9px 30px;
        color: inherit;
        text-transform: uppercase;
        font: inherit;
        position: relative;
        z-index: 1;
        cursor: pointer;
        letter-spacing: .1em;
    }
}

#home-slider {

    h1 {
        font-weight: 900;
        letter-spacing: 0.1em;
    }

    .slide-title {
        position: absolute;
        top: 67%;
        color: #fff;
        font-size: 18px;
        font-weight: 300;

        @include breakpoint($sm) {
            font-size: 24px;    
        }
    }

    .next-section {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 20px;
    }
}

.text-section {
    h1, h2, h3, h4 {
        color: $black !important;
        margin-bottom: 3rem;
    }
    p {
        font-size: 1rem;
    }
    .btn {
        margin: 2rem 1rem 0 1rem;
    }
    & + .photo-carousel-section {
        padding-top: 0 !important;
    }
}

.photo-carousel-section {
    [class^="swiper-button-next"] {
        right: -26px;
    }

    [class^="swiper-button-prev"] {
        left: -25px;
    }

    .max-width {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        z-index: 4;
        display: flex;
        justify-content: space-between;

        [class^="swiper-nav-next"] {
            right: -24px;
        }
        [class^="swiper-nav-prev"] {
            left: -24px;
        }

        [class^="swiper-nav-next"], [class^="swiper-nav-prev"] {
            opacity: 1;
            cursor: pointer;
            position: relative;
            width: 60px;
            height: 60px;
            background: $color-pallete-red;
            mask-size: auto 100%;
            mask-repeat: no-repeat;
            -webkit-mask-image: url(assets/images/button-bg.svg);
            mask-image: url(assets/images/button-bg.svg);
            transition: all .35s ease-in-out;
            border-radius: 5px;
            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 24px;
                color: $white;
            }
        }
        .swiper-button-disabled {
            opacity: 0;
        }
    }
}

#home-events {

    .frame-btn {
        display: block;
        clear: both;
        max-width: 300px;
        margin: 40px auto 0 auto;
        text-align: center;
    }

    img {
        width: 100%;
        height: auto !important;
    }
    
    .event {
        &.first .event-content {

            @include breakpoint($sm) {
                position: absolute;
                
                top: 120px;
                left: -120px;

                padding: 50px 40px;
                
                .title {
                    @include type-layout(24px, 2.5);
                }

                .date {
                    font-size: 16px;
                }
            }

            @include breakpoint($lg) {
            
                
            }
        }
    }
}

.category {
    display: inline-block;
    color: $lightgrey;
    text-transform: uppercase;
}

#home-reservation { 
    background-image: url('assets/images/backgrounds/plate-bread.png'), url('assets/images/backgrounds/glass-drink.png');
    background-position: 3% 85%, 95% 25%;
    background-repeat: no-repeat;
    position: relative;
    @include pie-clearfix;
    .content {
        padding: 0 15px;
        @include breakpoint($sm) {
            // padding: 0 150px;
        }
    }
    &__cta {
        padding-top: .5rem;
        a.phone {
            font-size: 1.875rem;
            font-weight: 700;
            color: $gold;
            @include clearfix;
            i {
                margin-bottom: 6px;
                margin-right: 10px;
                font-size: 2.5rem;
                vertical-align: middle;
            }
        }

        .btn {
            width: 420px;
            text-align: center;
        }
        .or {
            padding-bottom: .75rem;
            color: $lightgrey;
            width: 520px;
            margin: 20px auto;
            font-family: 'Libre Baskerville';
            font-style: italic;
            &::before {
                display: block;
                position: relative;
                content: '';
                width: 42%;
                height: 1px;
                border-bottom: 1px solid $border-color;
                top: 11px;
                float: left;
            }

            &::after {
                display: block;
                position: relative;
                content: '';
                width: 44%;
                height: 1px;
                border-bottom: 1px solid $border-color;
                top: 11px;
                float: right;
                right: 0;
            }
        }
    }

    .frame-btn {
        margin-top: 40px;
    }
}

#home-insta {
    background-image: url('assets/images/home_bg_section_04.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom center;
    &__findus {
        font-size: 1.25rem;
        font-family: Gabriele, sans-serif;
        color: $black;
        line-height: 36px;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }

    &__follow {
        margin-top: 3rem;
    }

    &__carousel {
        .swiper-slide {
            margin: 0 15px;
            padding: 0 !important;
            a {
                padding-top: 100%;
                display: block;
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}

#artists-list {
    .artist-box {
        position: relative;
        height: 350px;
        margin-bottom: 30px; 
    }
}

.artist-box {
    .bg {
        position: absolute;
        left: 0; right: 0;
        top: 0; bottom: 0;
        @include transition(opacity .3s);
        background: no-repeat center top;
        background-size: cover;
    }

    &:hover {
        .bg {
            opacity: 0.5;
        }

        .excerpt {
            max-height: 200px;
        }
    }

    .content {
        position: absolute;
        left: 0; bottom: 0;
        width: 100%;
        padding: 30px 20px;
    }

    .excerpt {
        max-height: 0;
        @include transition(max-height .3s linear);
        overflow-y: hidden;
    }
}

#home-people {
    padding: 7rem 0;
    position: relative;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: linear-gradient(0deg, rgba(255,255,255,0) 60%, rgba(255,255,255,1) 100%), url('assets/images/backgrounds/home-purple-bg.jpg'); 
    background-position: center;
    background-size: cover;
    &__carousel {
        margin-top: 1rem !important;
    }
    .arrow-conatainer {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
        [class^="swiper-nav-"] {
            position: absolute;
            width: 50px;
            height: 50px;
            background: $green;
            color: $white;
            border-radius: 100px;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            transform: translateY(-50%);
            @include bg-transition($green, $green-secondary);
            i {
                font-size: 0.875rem;
                margin-bottom: 2px;
            }
        }
        [class^="swiper-nav-prev"] {
            left: 40px;
            i {
                margin-right: 3px;
            }
        }
        [class^="swiper-nav-next"] {
            right: 40px;
            i {
                margin-left: 3px;
            }
        }
    }
}


// CAROUSELS -------------

.carousel-one {
    position: relative;

    .swiper-wrapper {
        padding-bottom: 46px;
    }

    .swiper-slide {
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 0;
        height: 350px;

        &__overlay {
            position: absolute;
            bottom: 0px;
            background: rgba(0, 0, 0, 0.4);
            opacity: .0;
            width: 100%;
            height: 100%;
            transition-delay: 400ms;
            transition: all 250ms ease-in-out;
        }

        &__wrapper:hover + .swiper-slide__overlay {
            opacity: .6;
        }

        &__wrapper {
            position: absolute;
            bottom: -44px;
            left: 0%;
            background: $white;
            width: 100%;
            text-align: center;
            z-index: 2;

            .hidden {
                text-align: center;
                max-height: 0;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;      
                transition: max-height 500ms ease-in-out;

                p {
                    padding-top: 20px;
                    margin-top: 4px;
                    border-top: 1px solid #dadada;
                    font-size: 1rem;
                    color: $lightgrey;
                    line-height: 25px;
                    margin-bottom: 5px;
                    width: calc(100% - 50px);
                }

                .btn {
                    font-size: 0.875rem;
                    margin-bottom: 5px;
                }
            }

            .title {
                padding: 7px 0;
                h2 {
                    line-height: 1.4;
                    margin-bottom: 0; 
                    margin-top: 14px;
                    color: $darkgrey;
                    font-size: 1.25rem;
                    text-transform: none;
                }
    
                h3 {
                    line-height: 1.4;
                    margin-top: 0; 
                    color: $gold;
                    font-size: 1rem;
                    font-family: 'Libre Baskerville';
                    font-style: italic;
                    font-weight: 400;
                    text-transform: none;
                }
            }

            &:hover {
                .hidden {
                    max-height: 300px;
                }
            }
        }
    }

    .nav-conatainer {
        position: absolute;
        top: 50%;
        z-index: 999;
    }
}

.section-title {

    &.frame-box {
        text-align: center;
        z-index: 1;
    }

    @include breakpoint($sm) {
        &.frame-box {
            position: absolute;
            top: 50%; left: 0;
            transform: translateY(-50%);
            //width: 33.3333%;
            
            & > div {
                padding: 100px 70px;
            }
        }
    }

    &.to-the-right {
        right: 0;
    }
}

#contact-section {
    .container-fluid {
        display: flex;
        align-items: center;
    }

    .frame-box {
        order: 3;
        left: auto;
        right: 8.33333%;
        text-align: left;
        width: 30%;

        & > div {
            padding: 30px;
        }
    }

    i {
        top: 9px;
    }
}

.image-section {
    &.offer {

        .content {
            position: absolute;
            bottom: 20px;
            left: 30px;
            color: $gold;
            font-size: 14px;
        }

        .name {
            color: #fff;
            font-weight: bold;
            font-size: 18px;
        }
    }
}

#rsvrn-buttons > div {
    margin-top: 30px;
}

#google-map {

    position: relative;
    padding-top: 75%;

    @include breakpoint($sm) {
        padding-top: 50%;
    }

    @include breakpoint($md) {
        padding-top: 33%;
    }

    @include breakpoint($lg) {
        padding-top: 25%;
    }
}

#home-map {
    position: relative;
    padding-top: 100%;
    @include breakpoint($sm) {
        padding-top: 80%;
    }
    @include breakpoint($md) {
        padding-top: 60%;
    }
    @include breakpoint($lg) {
        padding-top: 40%;
    }

    .address-box {
        width: 100%;
        position: relative;
        @include breakpoint($sm) {
            position: absolute;
            width: 375px;
            position: absolute;
            left: 100px; top: 50%;
            transform: translateY(-50%);
        }
        z-index: 1;
        padding: 0 30px;
        background-color: $white;    
        text-align: center;
        &-inner {
            margin: 60px 0 0px 0;
        }
        h2 {
            line-height: 2rem;
            margin-bottom: 0;
            .claim {
                margin-bottom: 0;
            }
        }
        p {
            font-size: 1rem;
            line-height: 25px;
            margin-bottom: 0;
            margin-top: 0;
            color: $lightgrey;
        }
        .btn {
            font-size: 0.875rem;
            padding: 0;
            margin-top: 0;
            text-transform: uppercase;
        }

        .item__data {
            width: 100%;
            height: 180px;
            border-top: 1px solid $border-color;
            margin-top: 2rem;
            position: relative;
            &__inner {
                position: absolute;
                top: 50%;
                left: 50%;
                text-align: left;
                transform: translate(-50%,-50%);

                a {
                    display: flex;
                    justify-items: middle;
                    color: $lightgrey;
                    font-size: 1.25rem;
                    margin: 1.75rem 0;
                    transition: all .3s ease-in-out;
                    &:hover {
                        color: lighten($lightgrey, 10%);
                    }
                    span {
                        color: $gold;
                        margin-right: 1rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

#home .address-box {
    @include breakpoint($sm) {
        font-size: 18px;
    }    
}

.newsletter-prompt {
    .image-holder {
        height: 100%;
        float: right
    }
    height: 100%;
    text-align: center;

    .gradient {
        opacity: 50%;
        position: absolute;
        top: 0; left: 0; 
        height: 100%; width: 100%;
    }

    .newsletter-form {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .es_textbox {
            margin: 40px 0 10px 0;
        }
    }
}

.image-holder {
    background-size: cover;
}


.gradient-left-right {
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(0,0,0,0)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
}

#map {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    
}

#show-map-btn {
    font-size: 12px;
    padding: 8px 20px;
    margin: 40px auto 0 auto;
    display: block;
    max-width: 150px;
    @include breakpoint(min-width 1350px) {
        position: absolute;
        top: 0; right: 50px;
    }
}

.table {
    
    padding: 0;
    display: table;
    width: 100%;

    & > .cell,
    & > div {
        display: table-cell;
        float: none;
        position: relative;
    }
}

div.wpcf7 {
    text-align: center;
}

.contact-form {
    textarea {
        height: 170px;
    }
}

#instafeed {

    @include pie-clearfix;

    h2 {

    }

    & > a {
        display: block;
        float: left;
        
        width: 20%;
        padding-top: 20%;

        &:nth-child(12),
        &:nth-child(13) {
            display: none;
        }

        @include breakpoint($sm) {
            width: 25%;
            padding-top: 25%;
        }

        @include breakpoint($lg) {
            width: 16.6666%;
            padding-top: 16.666666%;
        }

        @include breakpoint(min-width 1600px) {
            width: 14.28571%;
            padding-top: 14.28571%;
            &:nth-child(12),
            &:nth-child(13) {
                display: block;
            }
        }

        position: relative;
        background-size: cover;
        font-family: 's54-ui-icons' !important;

        &>div {
            position: absolute;
            left: 0; top: 0;
            width: 100%; height: 100%;
            opacity: 0;
            @include transition(opacity .3s);
            background-color: $gold;
            z-index: 1;
            color: $lightgrey;
            text-align: center;
        }

        &:hover > div {
            opacity: .8;
        }
    }

    .frame-box {
        
        width: 100%;
        padding-top: 48%;
        padding-bottom: 0;

        @include breakpoint($sm) {
            width: 50%;
            padding-top: 25%;    
        }

        @include breakpoint($lg) {
            width: 33.3333%;
            padding-top: 16.666666%;    
        }

        @include breakpoint(min-width 1600px) {
            width: 28.57142%;
            padding-top: 14.28571%;
        }

        float: left;
        & > div {
            position: absolute;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

.filters {
    text-align: center;
    margin-bottom: 30px;
    
    input {
        display: none;
    }
}

.qty-selector {
    position: relative;
    height: 50px;
    max-width: 100%;
    margin-left: 48px;
    @include breakpoint($sm) {
        max-width: 50% !important;
    }
    & > div:not(.glow-cover) {
        position: absolute;
        top: 0;
        border-top: none;
        border-bottom: none;
        top: 1px;
        height: 48px;
        width: 40px;
        @include transition(color .3s);
        cursor: pointer;
        color: $color-pallete-red;
        &:hover {
            color: ligten($color-pallete-red, 20%);
        }
    }

    i {
        font-size: .8rem;
    }

    .increase {
        right: 1px;
    }

    .decrease {
        left: 1px;
        right: 0;
    }

    .decrease {
        left: 0;
    }

    input {
        &::-webkit-inner-spin-button, 
        &::-webkit-outer-spin-button { 
            -webkit-appearance: none; 
            margin: 0; 
        }
        width: 100%;
        padding: 10px 0px;
        text-align: center;
    }
}


/* Hide HTML5 Up and Down arrows. */
input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
    margin: 0 !important;;
}
 
input[type="number"] {
    -moz-appearance: textfield !important;;
}


.buy-ticket-container {
    
    max-width: 992px;
    margin-left: auto;
    margin-right: auto;

    .buy-ticket {
        @include pie-clearfix;
    }

    &.top {

        display: none;

        @include breakpoint($lg) {
            display: block;

            .labels { width: 20%; margin: 0; }
            .form { width: 40%; }
            .reserve { width: 40%; }
        }    
    }

    .btn {
        display: block;
        max-width: 220px;
        margin: 0 auto;
    }

    .buy-link {
        padding: 15px 10px !important;
    }

    .form,
    .reserve { text-align: center; }

    .form { padding-right: 40px; }
    .reserve { 
        margin-top: 60px;

        @include breakpoint($sm) {
            margin-top: 0;
            padding-left: 40px;
        }

        @include breakpoint($lg) {
            margin-top: 0;            
        }
    }

    .qty-selector {
        max-width: 220px;
        margin: 0 auto 20px auto;
    }

    .label {
        
        float: left;
        width: 150px;

        &.qty {

            height: 50px;
            margin: 3px 0 35px 0;

            span:last-child {
                font-size: 14px;
            }
        }
    }

    h3 {
        text-align: center;
        margin: 20px 0 30px 0;
    }

    .reserve-btn {
        max-width: 300px;
        padding: 40px 10%;
    }

    .separator {
        position: absolute;
        bottom: -30px;
        width: 100%;

        @include breakpoint($sm) {
            /* height: 100%; */
            width: 0;
            top: 0;
            right: 0;
            bottom: 0;
        }

        span {
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(-50%, -50%);
            padding: 10px;
            background: #000;
        }

        &:before {
            display: block;
            content: '';
            position: absolute;
            left: 0;
            width: 100%;
            top: 50%;

            @include breakpoint($sm) {
                top: 0; bottom: 0;
                width: 0; height: 100%;
                border-top: none;
                border-left: solid 1px $darkgrey;
            }
        }

    }

    .table > div {
        vertical-align: top;
    }
}

#reservation-form {
    background-image: url('assets/images/background-sections/res1.png'),
                      url('assets/images/background-sections/res2.png'), 
                      url('assets/images/background-sections/res3.png');
    background-position-y: 8%, 60%, 100%;
    background-position-x: 0%, 90%, 0%;
    background-repeat: no-repeat;
    form {
        padding-top: 50px;
    }
    .form-label {
        @include breakpoint($sm) {
            text-align: right;
            padding-bottom: 0em;
        }
        padding-right: 2rem;
        padding-bottom: 3em;
        text-align: center;
        h2 {
            color: $black;
            font-size: 1.75rem;
            font-family: Gabriele, sans-serif;
            text-transform: none;
            line-height: 2.225rem;
            margin: 0;
        }
    }

    .hint {
        @include breakpoint($sm) {
            position: absolute;
            margin-top: 0;
        }
        margin-top: 1.75rem;
        position: relative;
        min-height: auto;
        @include transition(opacity .3s);
        background-color: #242424;
        padding: 25px 35px;
        font-size: 16px;
        color: $white;
        text-align: center;
        line-height: 30px; 
        
        &.on {
            opacity: 1;
        }

        @include breakpoint($sm) {
            &:before {
                display: block;
                content: '';
                position: absolute;
                top: 4px;
                left: -9px;
                transform: rotate(45deg);
                background-color: #242424;
                width: 20px;
                height: 20px;
            }
        }
    }

    // ul.switch {
    //     list-style: none;
    //     position: relative;
    //     display: table;
    //     padding: 0;
    //     margin: 0;
    //     width: 100%;

    //     #attribute_pa_strefa-error {
    //         position: absolute;
    //         bottom: -20px;
    //     }
    //     li {

    //         display: table-cell;
    //         padding-right: 30px;
    //         padding-left: 0;
    //         width: 1%;
    //         &:last-child {
    //             padding-right: 0;
    //         }
            
    //         & > div {
    //             display: block;
    //             padding: 15px 5px;
    //         }
    //     }
    // }

    // #date-selector {
    //     padding-top: 13px;

    //     .hint{
    //         min-height: 40px;
    //         padding: 10px 25px;
    //         &:before {
    //             top: 15px;
    //         }
    //         color: $lightergrey;
    //     }
    // }

    // #quantity-selector {
    //     .hint {
    //         display: table;
    //         & > div {
    //             display: table-cell;
    //             vertical-align: middle;
    //         }

    //         span {
    //             display: block;
    //             text-align: right;
    //         }

    //         .price {
    //             font-size: 20px;
    //             color: $lightergrey;
    //         }
    //     }
    // }

    // #zone-selector {
    //     img {
    //         width: 100%;
    //         height: auto;
    //         margin-top: 20px;
    //     }
    // }

    // .btn-switch-type {

    //     display: block;
    //     padding: 18px 60px 18px 100px;

    //     .label { 
    //         padding-top: 45px;
    //     }

    //     i {
    //         display: block;
    //         font-size: 60px;
    //         position: absolute;
    //         left: 35px; top: 8px;
    //     }

    //     span {
    //         display: block;
    //         font-weight: 400;
    //         font-family: Open Sans, sans-serif;
    //         @include transition(color .3s);
    //         color: $lightgrey;
    //     }

    //     &:hover {
    //         span {
    //             color: #000;
    //         }
    //     }
    // }

    // dl {
    //     display: table;
    //     margin-top: 0;
    //     dt, dd {
    //         display: table-cell;
    //         width: 250px;
    //     }

    //     dt {
            
    //     }
    // }

    // #customer-data {
    //     separator-line {
    //         margin: 10px 0;
    //     }
    // }

    div.submit {
        margin: 50px 0;
        .btn {
            padding-left: 50px !important;
            padding-right: 50px !important;
            margin-left: 30px;
        } 
    }
}

#menu-links {
    text-align: center;
    padding-left: 60px;
    a {
        margin: 10px 0;
        width: 300px; 
    }

    i {
        position: absolute;
        left: 20px; top: 0px;
        display: block;
    }
}
.coctails-card {
    @include breakpoint($sm) {
        text-align: right;
    }
}
.tapas-card {
    @include breakpoint($sm) {
        text-align: left;
    }
}

.menu-item-box {
    padding-bottom: 60px;
    margin-bottom: 30px;
    position: relative;
    background-color: #000;

    img {
        width: 100%;
        height: auto;
    }

    .content {
        position: absolute;
        bottom: 0; left: 35px; right: 35px;
        text-align: center;
    }
}


.scattered-blocks {
    position: relative;
    @include pie-clearfix;

    & > div:first-child {
        @include breakpoint(max-width 767px) {
            height: auto !important;
        }
    }
    & > div {
        @include pie-clearfix;
    }
}

.scattered-rows {
    .image-holder {
        padding-top: 56%;
    }
    @include breakpoint($sm) {

        .image-holder {
            padding-top: 0;
        }
        div:nth-child(2n+2) {
            .image-holder {
               right: 0;
            }
            .content {
                margin-left: 12.33333%;
            }
        }

        &>div:last-child {
            border-bottom-width: 1px;
        }
    }
}

.image-row {
    .image-holder {
        height: 100%;
    }
    .content {
        position: absolute;
        bottom: 30px;
        left: 30px; right: 30px;
    }
}

.scattered-row {
    @include pie-clearfix;
    position: relative;
    border: solid 1px $darkgrey;
    margin-bottom: 30px;

    @include breakpoint($sm) {
        margin-bottom: 0;
        border-bottom-width: 0; 
        .image-holder {
            height: 100%;
            position: absolute;
            width: 31%;
        }
    }

    & > div {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

/* offer specific styles */
#spaces-section {
    .reservation-btn {
        line-height: 30px;
        div {
            margin-bottom: 30px;
        }
        .text-white {
            font-size: 24px;
            color: #fff;

        }
    }
}

// SECTIONS 

.pattern-section {
    background-image: url('assets/images/pattern-bg.jpg');
}

.padding-section {
    padding: 6.25rem 0;
}

#contact {
    h2 {
        color: $black;
        font-size: 1.75rem;
        text-transform: none;
        font-family: Gabriele;

        & + .info {
            margin-top: 2.5rem;
        }
    }
    .mr-top {
        margin-top: 1.5rem;
    }
    .mr-bottom {
        margin-bottom: 40px;
    }
    form, .btn {
        margin-top: 1.5rem;
    }
    .info {
        margin-top: 3px;
        margin-bottom: 12px;
        @include pie-clearfix;
        width: 100%;
        display: block;
        &__icon {
            margin-top: -3px;
            float: left;
            margin-right: 10px;
            color: #545454;
        }
        &__text {
            float: left;
            line-height: 1.8;
            a {
                color: #334433;
            }
        }
    }

    .social {
        ul {
            padding: 0;
            margin: 0;
            display: inline-flex;
            width: 100%;
            li {
                margin-left: -4px;
                margin-right: 30px;
                a {
                    transition: all .3s ease-in-out;
                    color: $color-pallete-red;
                    &:hover {
                        color: #ffffff;
                    }
                }
                i {
                    font-size: 50px;
                }
                padding: 0;
                list-style: none;
            }
        }
    }
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.offer-features {
    text-align: center;
    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);
    }
    h2 {
        color: $white;
        margin-bottom: 5px;
    }
    p {
        color: $white;
        font-size: 1.125rem;
        line-height: 1.5rem;
        font-family: 'Libre Baskerville';
        margin: 0;
    }
    &__feature {
        i {
            border: 2px solid rgba(255,255,255,0.4);
            border-radius: 999px;
            padding: 1.25rem;
            font-size: 45px;
            margin-bottom: .75rem;
            color: $white;
            & + p {
                margin-top: 3px;
            }
        }
    }
}

.offer-compositions {
    background-image: url('assets/images/background-sections/offer_bg_section_03.png');
    background-position: top center;
    p {
        font-size: 1rem;
    }
    .carousel-two {
        position: relative;
    
        .fix-padding {
            padding-bottom: 46px;
        }
    
        .swiper-slide {
            margin-top: 3rem;
            background-position: center center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 0;
            height: 400px;
            box-shadow: 3px 4px 28.5px 1.5px rgba(0, 0, 0, 0.25);
            &__price-label {
                position: absolute;
                top: 0;
                left: 0;
                background: $color-pallete-red;
                font-size: 1.125rem;
                color: $white;
                padding: 1.3rem 1.25rem 1.1rem 1.25rem;
                transform: translate(-10px, -10px);
                z-index: 5;
                .value {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }
            &__overlay {
                position: absolute;
                bottom: 0px;
                background: #ad124a;
                opacity: .0;
                width: 100%;
                height: 100%;
                transition-delay: 400ms;
                transition: all 250ms ease-in-out;
            }
    
            &__wrapper:hover + .swiper-slide__overlay {
                opacity: .6;
            }
    
            &__wrapper {
                position: absolute;
                bottom: -44px;
                left: 50%;
                background: $white;
                width: 85%;
                transform: translate(-50%, 0%);
                text-align: center;
                transition: width 250ms ease-in-out;
                transition-delay: 150ms;
                box-shadow: 1px 2px 23.75px 1.25px rgba(0, 0, 0, 0.1); 
                z-index: 2;
                &:hover {
                    width: 100%;
                }
    
                .hidden {
                    text-align: center;
                    max-height: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;      
                    transition: max-height 500ms ease-in-out;
                    transition-delay: 400ms;
    
                    p {
                        padding-top: 20px;
                        margin-top: 0;
                        border-top: 1px dashed #dadada;
                        width: 100%;
                        font-size: 1rem;
                        color: #343434;
                        line-height: 25px;
                        margin-bottom: 10px;
                    }
    
                    .btn {
                        margin-bottom: 20px;
                        color: $color-pallete-red;
                    }
                }
    
                .title {
                    padding: 7px 0;
                    h2 {
                        line-height: 1.4;
                        margin-bottom: 0; 
                        color: #343434;
                        font-size: 1.125rem;
                        font-family: Hind;
                    }
        
                    h3 {
                        line-height: 1.4;
                        margin-top: 0; 
                        text-transform: uppercase;
                        color: #646464;
                        font-size: 0.875rem;
                        font-family: Hind;
                        font-weight: 400;
                    }
                }
    
                &:hover {
                    .hidden {
                        max-height: 300px;
                    }
                }
            }
        }
    
    }
}

p.p-outline {
    padding: 30px;
    margin: 80px 0;
    width: 100%;
    font-weight: 600;
    border: 2px solid rgba(0, 0, 0, 0.2);
}

.offer-contact {
    background-image: url('assets/images/background-sections/offer_bg_section_04.png');
    background-position: bottom center;
    padding: 7rem 0;
    h1 {
        color: $black;
        font-size: 2.875rem;
    }

    p {
        font-size: 1.125rem;
    }

    &__phone {
        margin-top: 2rem;
        a {
            color: $color-pallete-red;
            font-size: 2.25rem;
            font-weight: 500;
            i {
                margin-bottom: 6px;
                margin-right: 20px;
                font-size: 3.5rem;
                vertical-align: middle;
            }
        }
    }
}

#wpcf7-f31-o1, #wpcf7-f31-o2 {
    .wpcf7-submit {
        background: #ac1249;
        color: #ffffff;
    }
    .wpcf7-submit, .wpcf7-submit > input[type="submit"] {
        margin-top: 2rem;
        position: relative;
        font-family: Hind, sans-serif;
        font-weight: 800;
        font-size: 0.875rem;
        padding: 14px 25px;
        color: #ffffff;
        border-radius: 5px;
        text-transform: uppercase;
        mask-size: auto 100%;
        mask-repeat: no-repeat;
        -webkit-mask-image: url(assets/images/button-bg.svg);
        mask-image: url(assets/images/button-bg.svg);
        display: inline-block;
        transition: all .35s ease-in-out;
    }
    .ajax-loader {
        display: none;
    }
}

.section-info {
    &__box {
        height: 320px;
        @include breakpoint($xl) {
            height: 400px;
        }
        padding-bottom: 50px;
        margin-bottom: 35px;
        &__holder {
            width: 100%;
            height: 100%;
            position: relative;
            background-image: url('assets/images/backgrounds/catering-main-photo.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            text-align: center;
            
            .wrapper {
                width: 70%;
                position: absolute;
                bottom: -50px;
                left: 50%;
                transform: translate(-50%, 0%);
                background: $white;
                .title {
                    position: relative;
                    padding: 1.25rem 0;
                    .border-bottom {
                        position: absolute;
                        bottom: 0;
                        height: 50px;
                        width: 100%;
                        border-bottom: 1px solid $border-color;
                        border-left: 1px solid $border-color;
                        border-right: 1px solid $border-color;
                        .icon {
                            width: 30px;
                            position: absolute;
                            bottom: -49%;
                            background: $white;
                            transform: translate(-50%,-50%);
                            font-size: 1.5rem;
                            color: $gold;
                        }
                    }
                }
                .hidden {
                    overflow: hidden;
                    text-align: center;
                    max-height: 0;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                    transition: max-height 500ms cubic-bezier(0, 1, 0, 1);
                    padding: 0 30px;
                    .btn {
                        margin-top: 20px;
                        margin-bottom: 16px;
                    }
                }
                &:hover {
                    .hidden {
                        transition: max-height 1s ease-in-out;
                        max-height: 100%;
                    }
                }
            }
        }
    }
}

#trust {
    background-image: url('assets/images/backgrounds/home-yellow-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.partners {
    margin-top: 1rem;
    margin-bottom: 3rem;
    .partner {
        height: 180px;
        margin-bottom: 30px;
        background: $white;
        position: relative;

        img {
            max-width: 160px;
            height: auto;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
            filter: grayscale(1);
            transition: all .25s ease-in-out;
            &:hover {
                -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
                filter: grayscale(0);
            }
        }
    }
}

#wwa {
    background-image: url('assets/images/backgrounds/coffee-cup.png');
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 85%;
}

.about-us {
    background-image: linear-gradient(0deg, #ffffff 15%, rgba(255, 255, 255, 0) 100%), url('assets/images/backgrounds/subpages-main-bg.jpg');
    background-size: cover;
    padding-top: 40px;
}

.page-template-about {
    #home-people {
        background-image: url('assets/images/backgrounds/subpages-main-bg.jpg') !important;
        background-size: cover;
        background-position-y: top;
    }
}

.page-template-referencje {
    #trust {
        background-image: url('assets/images/backgrounds/subpages-main-bg.jpg') !important;
        background-size: cover;
        background-position-y: top;
        padding-top: 40px;
    }
}

.bg-subpage {
    background-image: url('assets/images/backgrounds/subpages-main-bg.jpg') !important;
    background-size: cover;
    background-position-y: top;
}

.offer {
    background-image: linear-gradient(0deg, #ffffff 15%, rgba(255, 255, 255, 0) 100%), url('assets/images/backgrounds/subpages-main-bg.jpg');
    background-size: cover;
    padding-top: 40px;
    &-feat {
        display: inline-flex;
        justify-content: space-around;
        width: 100%;
        &__feature {
            text-align: center;
            max-width: 170px;
            i {
                color: $gold;
                border: 2px solid rgba(241, 185, 77, 0.4);
                border-radius: 999px;
                padding: 1.25rem;
                font-size: 45px;
                margin-bottom: .75rem;
            }
            p {
                margin: 0;
                font-family: 'Libre Baskerville';
                font-weight: 400;
                color: $lightgrey;
                line-height: 23px;
                font-size: 14px;
            }
        }
    }
}

.contact {
    padding-top: 40px;
    h2 {
        margin-bottom: 2rem;
    }
    p {
        margin: 5px 0;
    }
    .info {
        margin-top: 3px;
        margin-bottom: 12px;
        @include pie-clearfix;
        width: 100%;
        display: block;
        &__icon {
            margin-top: -3px;
            float: left;
            margin-right: 10px;
            color: #545454;
        }
        &__text {
            float: left;
            line-height: 1.8;
            a {
                color: #334433;
            }
        }
    }
}